= '\n'

// for Google
meta(name='keywords', content='stickme,stick,sticky,position,fix,fixed,lock,scroll,jquery-plugin,ecosystem:jquery,jQuery,plugin')/
meta(name='description', content='Fixed elements depending on the scroll position')/
